<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="/meteo" routerLinkActive="active">Météo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/previsions" routerLinkActive="active">Prévisions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/configuration" routerLinkActive="active">Configuration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/credits" routerLinkActive="active">Crédits</a>
  </li>
</ul>

